.signup{
  float: right;
  padding-left: 10px;
  padding-right: 10px;
  padding-top:5px;
  padding-bottom: 5px;
  background-color: #EBEBEB;
  display: block;
  font-size: 20px;
}

.signup A{
  text-decoration: none;
}

.eventlist{
  padding-bottom: 15px;
}

.even{
  width: 98%;
  margin-top: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius:6px; 
  -webkit-border-radius:6px; 
  -moz-border-radius:5px; 
  -khtml-border-radius:10px;  
}

.even A{
  text-decoration: none;
  padding-left: 15px;
  font-size: 14px;
}