.signup{
  padding-left: 10px;
  padding-right: 10px;
  padding-top:5px;
  padding-bottom: 5px;
  background-color: #EBEBEB;
  display: block;
  font-size: 20px;
  border-radius: 8px;
-moz-border-radius: 8px;
 width: 200px;
   text-align: center;
}

.signup A{
  text-decoration: none;
}

.eventlist{
  padding-bottom: 15px;
}

.even{
  width: 98%;
  margin-top: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius:6px; 
  -webkit-border-radius:6px; 
  -moz-border-radius:5px; 
  -khtml-border-radius:10px;  
}

.even A{
  text-decoration: none;
  padding-left: 15px;
  font-size: 14px;
}

.singups A{
  display: inline-block;
  width: 48%;
  text-decoration: none;
  text-align: center;
}

UL.fotolib{
  list-style: none;
}

ul.fotolib LI{
  display: inline-block;
  padding: 3px;
}

UL.calendar LI{
  display: inline-block;
  padding: 5px;
  margin: 5px;
  min-height: 20px;
  width: 180px;
  border: 1px solid black;
  float: left;
}

#fullcalendar.manage{
    cursor: url('/components/calendar/images/list-add.png'),crosshair;
}

UL.event_list{
    padding-left: 0px;
}

UL.event_list LI{
    list-style: none;
    margin-left: 0px;
}